/* Globals */
html {
  scroll-behavior: smooth;
}

body {
  color: #0B0A08;
}

header {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  height: 68px;
  background-color: #F7F2DE;
  padding-left: 32px;
  padding-right: 32px;
} 

ul {
  list-style: none;
  padding: 0;
}

/* Typography */
h1 {
  font-family: 'Frank Ruhl Libre';
  font-size: 200px;
  font-weight: Light;
  color: #FFFFFF
}

p {
  font-size: 32px;
}

/* Section 1 - Landscape */
#landscape img {
  width: 100%;
  }

/* Footer */
footer {
  color: #FFFFFF;
  background-color: #DC4131;
  margin: 0;
}